## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg

## PROJECT::SPECIFIC
ext/cpuid/Makefile
ext/cpuid/*.bundle
ext/cpuid/*.so
ext/cpuid/*.o